body {
    font-family: 'Lobster', cursive;
    background-color: #8c8490;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #333;
    padding: 80px 50;
}

.menu1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coctel {
    width: 300px;
    margin: 20px;
    background-color: #e2b112;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    
}

.coctel img {
    max-width: 100%;
    border-radius: 10px;
}

.coctel h2 {
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #292929;
}

.coctel p {
    font-size: 16px;
    color: #595858;
}


