/* Estilo para la sección de testimonios */
.testimonios {
    text-align: center;
    background-color: #e2b112;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #2b238c8a;
    border-radius: 10px;
    max-width: 97%;
    margin-left: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

/* Estilo para el carrusel */
.carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    justify-content: center;
}

/* Estilo para los deslizamientos (slides) */
.slide {
    padding: 30px;
    transition: transform 0.5s ease;
}

/* Estilo para las imágenes de perfil redondas */
.imagen {
    
    text-align: center;
    width: 500px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    
}

/* Estilo para agrandar la imagen al pasar el mouse */
.imagen img {
    text-align: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    justify-content: center;
}

/* Efecto de agrandamiento al pasar el mouse */
.imagen:hover img {
    transform: scale(1.2);
}

/* Estilo para el nombre del cliente */
.nombre {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
